@CHARSET "UTF-8";

body{
	margin: 0;
    padding: 0;
}
/*body, div, dl, dt, dd, ul, ol, pre, code, form, fieldset, legend, input, textarea, blockquote, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}*/
ol, ul {
    list-style: none outside none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
* {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)	
}
input{
	-webkit-user-select: text;
}
/*启动页*/
#wrapper {
	width:320px;
	height:569px;
	float:left;
	position:relative;
	z-index:1;			
	overflow:hidden;
}

.zhezhaoimg{
	z-index: 10;
	position: absolute;
}

#scroller {
	width:960px;
	height:569px;
	float:left;
	padding:0;
}

#scroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:569px;
	padding:0;
	margin:0;
	text-align:left;
}

#scroller li {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	display:block; 
	float:left;
	width:320px; 
	height:569px;
	font-family:georgia;
	text-align:center;
}
/*顶部条*/
.banner{
	position: fixed;
	height: 45px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#de6300), to(#c84f00));
	z-index: 10;
	top:0px;
	width:100%;
	font-family: "微软雅黑";
	color: #FFF;
}
.banner h1{
	font-family: "微软雅黑";
	font-size: 20px;
	color: #FFF;
	font-weight: 200;
	line-height: 45px;
	text-align: center;
	margin: 0;
}
.btna{
	display:block; 
	margin:-42px 0 0 86%;
 	width:12%;
 	height:35px;
 	text-decoration:none;
}
.refreshbtnbg{
	width:100%;
	text-align:center;
	font-size:15px;
	color: #FFF;
	float: left;	
	border:1px #7f3901 solid ;
	border-radius: 5px; 
	line-height: 2.5em;
	height:38px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f98747), to(#c74b0c));
}
.refreshbtnbg img{
	margin-top:8px;
	height:25px;
}
.refreshbtnbg span{
	position: absolute;
	display: inline-block;
	border-radius: 9px;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	height: 20px;
	width: 20px;
	top: 4px;
	right: 7.5%;
	background-image: -webkit-gradient(radial,center center,10,center center,9,from(#FFF),to(#D40000));
}
.refreshbtnbg:hover{
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#c74b0c), to(#f98747));
}
.btnr{
	margin:-45px 0 0 0;
	display:block; 
	width:15%;
 	height:45px;
 	text-decoration:none;
 	color: #fff;
 	border-right: 1px inset #7f3901;
 	text-align: center;
 	line-height: 45px;
 	font-size:15px;
}

/*底部菜单*/
.footmune{
	height:60px;
	width:100%;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ffffff), color-stop(0.05, #e6e8e7), color-stop(1, #bebebe));
	position: fixed;
	bottom: 0px;
	z-index: 999;
	border-top:2px solid #d0d0d0;
}
.footmune span{
	margin: 3px 1% 3px 1%;
	float: left;
	width:18%;
	font-family: "微软雅黑";
	font-size: 14px;
	text-align: center;
	height:52px;
}
.footmuneon{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#4c4c4c), to(#262626));
	border-radius:5px;
}
.footmune span img{
	width:42px;
	margin-top: 0px;
}
.footmune span p{
	width:18%;
	margin-top: 0px;
	color: #65362e;
	position: absolute;
}
/*首页商品*/
.main{
	margin-bottom: 78px;
}
.shouye_good{
	width:100%;
    border-bottom: 1px solid #B9B9B9;    
    font-family:"微软雅黑";
    height:160px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ffffff), to(#efeeee));
}
.title{
	color: #4a4a4a;
	width:100%;
	height:37px;
	overflow: hidden;
	font-weight: bold;
}
.goodleft{
	width: 52%;	
	margin-top: 7px;
	position: relative;
	left: 3%;
	float: left;
}
.goodright{
	width: 38%;
	position: relative;
	left: 6%;
	margin-top: 7px;
	float: left;
}
.goodimg_wi{
	width: 100%;
	height: 145px;
	border:1px solid #B8B7B8;
}
.goodimg_wi img{
	width: 100%;
	height: 100%;
}
.time_wi{
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	margin-top: 80px;
	position: absolute;
	color: red;
	background: #d8d6d7
}
.now_price {
	color: red;
	height:35px;
	width:50%;
	float: left;
}
.now_price span{
	font-size: 24px;
}
.orig_price{
	width:50%;
	text-align: right;
	float: left;
	line-height: 35px;
	height:35px;
	color: #525051;
}
.price_num{
	color: #999798;
	font-size: 12px;
	height: 30px;
	float: left;
	margin-left: 49%;
	margin-top: 15px;
}
.price_num del{
	text-decoration: line-through;
}

.btnbuy_wifi{
	border:1.5px #660203 solid ;
	border-radius: 5px; 
	text-align:center;
	height:32px;
	width:45%;
	color:#FFF;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f90b16), to(#8c0000));
	line-height:32px;
	font-size: 14px;
	position: absolute;
	margin-top:35px;
}

/*分类css*/
/*搜索条*/
.search{
	background-color:#cacaca;
	margin-top:45px;
	width:100%;
	height:48px;
}
.searchtxt{
	margin:9px 0 0 18px;
	width:70%;
	height: 30px;
}
.searchimg{
	position: absolute;
	margin-top: 8px;
	margin-left:0px;
	height:38px;
}

/*商品二级分类1.0*/
.typediv2{
	width:100%;
	margin-top: 5px；
}
.cate-item{
	width:100%;
	margin-bottom: 10px;
	font-family: "微软雅黑";
}
.cate-title{
	width:100%;
	height:35px;
	line-height: 35px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: #cecece;
}
.cate-title-col34{
	background: #fc5c50;
}
.cate-title-col35{
	background: #dd7ade;
}
.cate-title-col37{
	background: #fa7e43;
}
.cate-title-col38{
	background: #7aa4dd;
}
.cate-title-col41{
	background: #a0b0ae;
}
.cate-title-col42{
	background: #f4436d;
}
.cate-title-col43{
	background: #fc5c50;
}
.cate-title-col44{
	background: #f9c843;
}
.cate-title-col46{
	background: #bfff42;
}
.cate-title-col47{
	background: #fa92be;
}
.cate-title-col62{
	background: #3cd5af;
}
.cate-title-col63{
	background: #f9c843;
}
.cate-title-col1{
	background: #fa92be;
}
.cate-title-col64{
	background: #fa92be;
}
.chile-div{
	width: 98%;
	margin-left: 1%;
}
.chile-div span{
	margin-top:5px;
	text-align: center;
	width:22.5%;
	height:30px;
	overflow: hidden;
	border: 1px solid #c8c8c8;
	margin-right:2%;
	line-height: 30px;
	float: left;
}
/*关于我们：about*/
.aboutbg{
	position:relative;
	margin-top:50px;
	margin-left:3%;
	width:94%;
	height:610px;
	background: #dadada;
	border-radius:5px;
}
.aboutbg2{
	position:absolute;
	margin:4px 2% 4px 2%;
	width:96%;
	height:600px;
	background: #dadada;
	border-radius:5px;
	border: 1px solid #ececec;
}
.aboutlogo{
	width:100%;
	height:90px;
	border-bottom: 1px solid #a9a9a9;
}
.aboutlogo img{
	height:50px;
	margin-top: 20px;
	margin-left:30px; 
}
.aboutjs{
	line-height:32px;
	margin:20px 30px 0 30px;
	font-family: "微软雅黑";
	font-size: 20px;
}
.aboutjs span{
	color: #fe7f00;
}
.xiazai{
	display:block;
	margin-top:40px;
	position:relative;
	width:100%;
	height:100px;
}
.xiazai img{
	position: absolute;
	right: 30px;
	height: 70px;
}

/*商品列表页面——in*/
.good {
	list-style-type: none;
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
	font-family: "微软雅黑";
}
.good2G {
	height: 90px;
	background-color: #fff;
}
.btnbuy {
	margin-top: 27.5px;
	border-radius: 5px;
	float: left;
	text-align: center;
	height: 35px;
	width: 18%;
	color: #FFF;
	background: #ff7f00;
	line-height: 35px;
	font-size: 15px;
}

.in_list{
	margin-top: 45px;
	width:100%;
	margin-bottom: 78px;
}
.in_goodimg{
	position:relative;
	width: 26%;
	height: 90px;
	float: left;
	text-align: center;
}
.in_goodimg img{
	width:78px;
	height:78px;
	margin-top: 6px;
	margin-left: 1px;
}
.in_gooddescribe{
	width: 54%;
	height: 90px;
	float: left;
	line-height: 26.6px;
	overflow: hidden;
}
.in_price{
	margin-top: 9px;
	height: 33%;
	width: 100%;
	font-weight: 500;
	overflow: hidden;
}
.in_pricol1{
	color: #CC51C6;
}
.in_pricol2{
	color: #989898;
}

/*订单页面-ordertab_mobile_add*/
.orderbg{
	margin-top: 48px;
	width:100%;
	font-family: "微软雅黑";
	color: #7a7a7a;
	margin-bottom: 78px;
}
.order_title{
	position:relative;
	width:100%;
	height:30px;
	background-color: #FFF2D7;
	border-top: 1px solid #f0d8a5;
}
.order_title p{
	position:absolute;
	margin-top: 4px;
	text-indent: 1em;
	width:100%
}
.order_xq{
	width:100%;
	height:130px;
}
.order_img{
	width:30%;
	height:100px;
	text-align: center;
	float: left;
}
.order_img img{
	height:78px;
	width:78px;
	margin-top: 11px;
}
.order_good{
	position:relative;
	width:68%;
	float: left;
	height:130px;
}
.order_goodtit{
	position:absolute;
	overflow:hidden;
	line-height:35px;
	width:100%;
	margin-top: 6px;
	height:35px;
}
.order_fuhao{
	color: #ff5400;
	position:absolute;
	width:100%;
	height:35px;
	margin-top: 41px;
}
.order_goodpri1{
	font-size: 20px;
	color: #ff5400;
}
.order_goodnum{
	width:100%;
	height:25px;
	margin-top: 76px;
}
.order_color{
	float: left;
	width:50%;
	height:25px;
}
.order_size{
	float: left;
	width:50%;
	height:25px;
}
.order_xing{
	color: #ff5400;
}
.order_peo{
	width:100%;
	margin-top: -5px;
	padding-bottom: 6px;
}
.order_peotit{
	text-indent: 1em;
}
.order_icc1{
	margin-top:-6px;
	text-indent: 3px;
	font-size: 14px;
	height: 30px;
	border: 1px #CFCFCF solid;
	margin-left:5%;
	width:90%;
}
.order_tishi{
	vertical-align: middle;
	color: #FF7200;
}
.order_sheng{
	position: relative;
	height: 30px;
	width: 43%;
	margin-left:5%;
	float: left;
	margin-top: -13px;
}

.order_input{
	margin-top: 5px;
	text-indent: 3px;
	font-size: 14px;
	height: 30px;
	border: 1px #CFCFCF solid;
	width:100%;
}
.order_select{
	width: 100%;
	height: 30px;
	font-size: 14px;
	text-align: center;
	position: absolute;
	z-index: 1;
	top: 7px;
	left: 0;
}
.order_shi{
	position: relative;
	height: 30px;
	width: 43%;
	margin-left:15px;
	float: left;
	margin-top: -13px;
}
.order_btn{
	text-align: center;
	width:40%;
	margin-left: 30%;
	font-size:20px;
	height:40px;
	border:1px solid #ff8811; 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fec826), to(#ff9201));
	color: #fff;
	line-height: 40px;
	border-radius:5px; 
}
/*购物车结算-ordertab_gwc_add*/
.ordergwc_all{
	border: 1px solid #CFCFCF;
	border-radius:5px;
	width:90%;
	height:35px;
	margin-top: 10px;
	margin-left: 5%;
	margin-bottom: 10px;
	color: red;
	font-size: 25px;
}
.ordergwc_all span{
	line-height:35px;
	margin-top: 15px;
}
.ordergwc_fuhao{
	
	margin-left:15px;
}
.ordergwc_addpri{
	margin-left: 35%;
}

 
/*商品详情页-new_goods_view*/
.wrapper{
	width:100%;
	margin:0 auto;
}
.good_xqpro{
	padding: 5px 13px;
	line-height: 22px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #585858;
}
.good_xqpro a{
	text-decoration:none; 
	/*color: #0050b4;*/
}

.good_xqpro p{
	padding: 0;
	margin: 0;
	list-style: none;
	font-style: normal;
}
.good_xqprice{
	padding: 6px 0;
    border-bottom: 1px #ccc dashed;
}
.good_xqkf{
	position: absolute;
	right:2%;
	text-align: center;
}
.good_xqkf img{
	width:45px;
	height:45px;
}
.good_xqprice b{
	font-size: 22px;
	color: #ff7b00;
	margin-left: -4px;
}

.good_xqpro img{
	vertical-align: middle;
	border: none;
}
.good_timeAndDiscount {
	color: #585858;
	position: absolute;
	left:140px;
}
.good_xqfuhao{
	color: #ff7b00;
	margin-left: -4px;
}
.good_xqyanse{
	padding: 8px 0 0 0;
	border-bottom: 1px #ccc dashed;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	overflow: hidden;
}
.good_xqyanse3{
	padding: 0;
	margin: 0;
}
.good_xqyanse3 span{
	float: left;
	display: block;
	width: 48px;
	height: 26px;
	line-height: 27px;
	border: 1px #ccc solid;
	text-align: center;
	margin: 0 3px 8px 4px;
	overflow: hidden;
	cursor: pointer;
}
.good_xqyanse span.good_xqyanseon{
	background: #929292;
	border: 1px #828282 solid;
	color: #fff;
}
.good_xqchima{
	padding: 8px 0 0 0;
	border-bottom: 1px #ccc dashed;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.good_xqchima span{
	display: inline-block;
	width: 48px;
	height: 26px;
	line-height: 27px;
	border: 1px #ccc solid;
	text-align: center;
	margin: 0 3px 8px 4px;
	overflow: hidden;
	cursor: pointer;
}

.good_xqchimaon{
	background: #929292;
	border: 1px #828282 solid;
	color: #fff;
	cursor: pointer;
}
.good_xqcoloron{
	background: #929292;
	border: 1px #828282 solid;
	color: #fff;
	cursor: pointer;
}

.good_xqjieshaotiti{
	background-color:#DDDCDA;
	font-size:16px;
	line-height:30px;
	height:30px;
}

.good_cnxh{
	float:left;
	width:22.5%;
	margin-left:1.25%;
	margin-right:1.25%;
	text-align:center;
}
.good_cnxh img{
	width:72px;
	height:72px;
}
.good_xqbtn{
	height:55px;
	width:100%;
}
.good_xqbuyBtn {
	text-decoration:none;
	font-size: 20px;
	font-weight: bold;
	text-align:center;
	margin-left:5%;
	color: white;
	width: 40%;
	height: 48px;
	line-height: 48px;
	display: block;
	border-radius: 6px;
	float: left;
}
.good_xqbuyBtncol{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FEC927),
	to(#FF9100) );
	border: 1px solid #f78102;
	text-shadow: -1px -2px 2px #DB971C;
}
.good_xqcarBtncol{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#78ff00),
	to(#0acc01) );
	border: 1px solid #04b900;
	text-shadow: -1px -2px 2px #18A315;
}
.good_xqfx{
	margin-top:15px;
	border:1px dashed;
	text-align: center;
	width:80%;
	height:60px;
	font-family: "微软雅黑";
	color: #7F3901;
	margin-left: 10%;
	padding-top: 10px;
	padding-bottom: 4px;
}
.good_xqfximg{
	width:33.3%;
	float: left;
}
.good_xqxxk{
	width:100%;
	margin-top: 13px;
	font-family: "微软雅黑";
	background: #cecece;
	height:35px;
}
.good_xqxxk span{
	width:32.6%;
	float: left;
	font-size: 18px;
	text-align: center;
	border: 1px solid #7E7E7E;
	height: 33px;
	line-height: 35px;
	
}
.good_xqxxkon{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FC8833),to(#FA6C16) );
	color: #FFFFFF;
}
.good_xqpl{
	font-family: "微软雅黑";
	width:100%;
	padding-bottom:6px;
	padding-top:6px;
	border-bottom: 1px solid #7e7e7e;
	position:relative;
	height:auto;
	font-size: 14px;
}
.good_xqplBtncol{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
	to(#dedede) );
	border: 1px solid #bababa;
}
.good_xqplnr{
	width:96%;
	margin-left:2%;
}
.good_xqpl span{
	margin-top:10px;
	width:50%;
	float: left;
}
.good_xqpltime{
	text-align: right;
}
.good_xqpltxt{
	margin-top: 5px;
	color: #585858;
	word-break:break-all;
}
.good_xqfbplbtn{
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	color: #000;
	width: 25%;
	margin-left:70%;
	height: 33px;
	line-height: 33px;
	display: block;
	border-radius:5px; 
}

.good_xqfbpltxt{
	position: relative;
	width:65%;
	margin-left: 2%;
	height:35px;
	line-height:35px;
	float: left;
	font-size: 15px;
}

/*购物车-gwc.jsp*/
/*购物车 没有商品*/
.gwc_kong {
	text-align: center;
	width: 100%;
	font-family: "微软雅黑";
	margin-top: 100px;
}
.gwc_kongp {
	font-size: 16px;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}
.gwc_btngo {
	height: 40px;
	line-height:40px;
	width: 200px;
	background-color:#F60;
	color:#FFF;
	font-family: "微软雅黑";
	font-size:15px;
	font-weight: bold;
	border:1px #7f3901 solid ;
	border-radius: 5px; 
	line-height: 2.5em;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f98747), to(#c74b0c));
}
/*购物车 有商品*/
.gwc_have{
	margin-top: 45px;
	font-family: "微软雅黑";
	color: #7a7a7a;
	margin-bottom: 78px;
}
.checkwz1{
	margin-top: 5px;
}
.gwc_checkbox{
	-webkit-appearance: none;
	position: absolute;
	width: 20px;
	height: 20px;
	left:90%;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F5F5), to(#FDFDFD));	
	border: solid 1px #DDD;
	border-top-color: #BBB;
	-webkit-border-radius: 2px;
	border-radius: 2px;	
}
.gwc_checkboxon{
	-webkit-appearance: none;
	position: absolute;
	background: url(../img/checkon.png) no-repeat 0 0;
	width: 20px;
	height: 20px;
	left:90%;
	background-size: 20px !important;
	background-repeat: no-repeat !important;
	background-position: 0 0 !important;
	}
.gwc_checkwz2{
	margin-top: -50px;
}
.gwc_checkwz3{
	padding-top: 40px;
}

.gwc_shop{
	position:relative;
	margin-top:0px;
	border-top:1px solid;
	border-bottom:1px solid #b5b5b5;
	width:100%;
	background: #dfdfdf;
	color: #5d5d5d;
	height:50px;
	text-indent: 2em;
}
.gwc_shoptit{
	position:absolute;
	margin-top: 7px;
	font-weight: bold;
}
.gwc_shopyh{
	margin-top: 27px;
	font-size: 13px;
}
.gwc_good{
	height:100px;
	width:90%;
	margin-left: 5%;
	margin-top: 0px;
}
.gwc_goodxian{
	border-bottom: 1px solid #b5b5b5;
	height:100px;
}
.gwc_goodimg{
	width:30%;
	float: left;
}
.gwc_goodimg img{
	height:78px;
	width:78px;
	margin-top: 11px;
}
.gwc_goodxinxi{
	width:60%;
	height:100px;
	float: left;
}
.gwc_goodtit{
	overflow:hidden;
	line-height:26px;
	width:100%;
	height:26px;
	margin-top: 11px;
}
.gwc_goodgg{
	width:100%;
	height:26px;
	margin-top: 5px;
}
.gwc_goodys{
	width:50%;
	font-size: 13px;
	color: #a6a6a6;
	float: left;
}
.gwc_goodpri{
	width:100%;
}
.gwc_goodnum{
	width:50%;
	float: left;
}
.gwc_goodpri2{
	width:50%;
	float: left;
	color: #ff0000;
}
.gwc_allprixian{
	height:30px;
	border-bottom: 1px solid #b5b5b5;
	width:100%;
}
.gwc_allshopyh{
	margin-top:5px;
	margin-left: 5%;
	width:45%;
	float: left;
}
.gwc_allprixian span{
	margin-top:5px;
	color: #ff0000;
}
.gwc_allshoppri{
	margin-right:5%;
	text-align:right;
	margin-top:5px;
	width:45%;
	float: left;
}
.gwc_btn{
	width:100%;
	margin-top: 10px;
}
.gwc_btn span{
	color: #ff0000;
}
.gwc_delete{
	margin-top:10px;
	background: #6a6a6a;
	width:30%;
	height:40px;
	margin-left: 5%;
	text-align: center;
	border-radius:5px;
	border: 1px solid #4c4c4c; 
	color: #fff;
	line-height: 42px;
	float: left;
}
.gwc_jiesuan{
	margin-top:-42px;
	background: #ff4800;
	width:30%;
	height:40px;
	margin-left: 65%;
	text-align: center;
	border-radius:5px;
	border: 1px solid #b53300; 
	color: #fff;
	line-height: 42px;
	float: left;
}
/*设置页面-setting*/
.set_content{
	margin-top: 60px;
	width:90%;
	margin-left: 5%;
	color: #5d5d5d;
	font-family: "微软雅黑";
	margin-bottom: 78px;
}
.set_main{
	position:relative;
	margin-top:15px;
	border-radius:5px;
	border: 1px solid #747474;
	background: #fff;
	text-indent: 1em;
	line-height: 35px;
	width:100%;
}
.set_height{
	height:35px;
	position: relative;
}
.set_height:hover{
	color: #ff7800;
	background: #dedede;
}
.set_height2{
	height:70px;
}

.set_per{
	height:142px;
}
.set_munwz{
	right:6%;
	text-indent: -0.2em;
}
.set_xian{
	border-bottom: 1px solid #747474;
}
.set_btn{
	font-weight:bold;
	text-indent: 0.7em;
	line-height:30px;
	font-size:15px;
	text-align:left;
	position:absolute;
	color:#fff;
	width:50px;
	height:30px;
	margin-top: 2.5px;
	left:80%;
	background: #828282;
	border-radius:5px; 
}
.set_spanjb{
	font-weight: bold;
}
.set_jb{
	height:143px;
}
.set_spleft{
	width:35%;
	float: left;
}
.set_address{
	width:62%;
	float: left;
	height:70px;
}
.set_sheng{
	position: relative;
	height: 30px;
	width: 47.5%;
	float: left;
	top:-3px;
}
.set_shi{
	position: relative;
	height: 30px;
	width: 47.5%;
	float: left;	
	top:-3px;
	margin-left: 5%;
}
.set_input{
	margin-top: 5px;
	text-indent: 3px;
	font-size: 14px;
	height: 30px;
	border: 1px #CFCFCF solid;
	width: 100%;
	margin-left: -17px;
}
.set_xianxiadd{
		width:100%;
	float: left;
	height:27px;
	margin-top: 6px;
}
.set_height input{
	width:62%;
	float: left;
	height:27px;
	margin-top: 1px;
}
.set_height select{
	float:left;
	width: 61px;
	height: 30px;
	margin-top: 2px;
}
.set_infobtn{
	text-indent:0em;
	text-align:center;
	background: #fd6a00;
	color: #fff;
	font-weight: bold;
}
.set_mess{
	text-align: center;
}

/*我的账户-Myaccount*/
.account_my{
	width:100%;
	height:83px;
	border: 1px solid #747474;
	background: #fff;
	text-indent: 1em;
}
.account_name{
	line-height:30px;
	height:30px;
	width:100%;
}
.account_money{
	width:100%;
	height:50px;
	font-size: 30px;
	line-height: 60px;
}
.account_money span{
	margin-left: 40%;
}
/*账户充值 acc_recharge*/
.re_moneydiv{
	width:100%;
	height:40px;
	font-size: 20px;
}
.remonney{
	margin-left:5%;
	width:70%;
	height:30px;
}
.re_bank{
	width:100%;
}
.re_bank img{
	width:30%;
	border: 1px solid #747474;
	height:35px;
}

/*全部订单 order*/
.ord_list{
	margin-top: 45px;
	width:100%;
	font-family: "微软雅黑";
	margin-bottom: 78px;
}
.ord_ding{
	width:100%;
	height:30px;
	color: #fff;
	border-bottom: 2px solid;
	background: #fd6a00;
}
.ord_ding span{
	text-align: center;
	height:30px;
	line-height: 30px;
}
.ord_gdname{
	width:46%;
	float: left;
}
.ord_xian{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.ord_gdrigth{
	width:26%;
	float: left;
}
.ord_content{
	width:100%;
	height:50px;
	background: #ffe2cd;
	border-bottom: 1px solid #fff;
}
.ord_content span{
	text-align: center;
	height:50px;
	line-height: 50px;
}
.ord_namecol{
	color: #0c02dc;
	text-decoration: underline;
	overflow: hidden;
}
.ord_ztcol1{
	color: #ffa800;
}
.ord_ztcol2{
	color: #001eff;
}
.ord_ztcol3{
	color: #4fc003;
}
.ord_ztcol4{
	color: #767676;
}
.ord_ztcol5{
	color: #000000;
}
/*订单详情-ordertab_detail*/
.orddet_zt{
	margin-left:60%;
	position:relative;
	color: #00a2ff;
}
.orddet_xq{
	width:100%;
	height:100px;
}
.orddet_xqright{
	position:relative;
	margin-left:30%;
	height:100px;
	width:60%;
}
.orddet_xqtit{
	line-height:26px;
	position:absolute;
	margin-top:11px;
	height:26px;
	width:100%;
	color: #0042ff;
	overflow: hidden;
}
.orddet_color{
	position:absolute;
	margin-top:37px;
	height:26px;
	width:50%;
	float: left;
}
.orddet_size{
	position:absolute;
	margin-top:37px;
	height:26px;
	width:50%;
	float: left;
	margin-left: 50%;
}
.orddet_goodnum{
	position:absolute;
	margin-top:63px;
	height:26px;
	width:50%;
	float: left;
}
.orddet_pri{
	position:absolute;
	margin-top:63px;
	margin-left:50%;
	height:26px;
	width:50%;
	float: left;
	color: #ff0000;
}
.orddet_shdz{
	width:100%;
}
.orddet_shleft{
	margin-top:10px;
	text-indent:1em;
	width:30%;
	float: left;
	color: #c2c2c2;
}
.orddet_shleft1{
		text-indent:1em;
	width:30%;
	float: left;
	color: #c2c2c2;
}
.orddet_shright{
	margin-top:10px;
	margin-left:30%;
	width:70%;
}
/*-------留言信箱 message_box------*/
.goodtit{
	color: #4a4a4a;
width: 100%;
height: 23px;
overflow: hidden;
font-weight: bold;
	
}
.mess_list{
	margin-top: 45px;
	width: 100%;
	margin-bottom: 78px;
}
.mess_pl{
	color: #747474;
	margin-top: 9px;
	height: 24%;
	width: 97%;
	font-weight: 500;
	overflow: hidden;
}
.mess_time{
	color: #989898;
	font-size: 14px;
}
.mess_num{
	position: absolute;
	display: inline-block;
	border-radius: 9px;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	height: 20px;
	width: 20px;
	top: 4px;
	background-image: -webkit-gradient(radial,center center,10,center center,9,from(#FFF),to(#D40000));
}
.mess_munwz{
	right: 2.5%;
}
.mess_talk{
	position:absolute;
	bottom: 45px;
}
.mess_per{
	margin-top: 10px;
	width:100%;
}
.mess_txt{
	margin-top: 15px;
	padding-bottom: 20px;
}
/*积分管理 point_manage*/
.point_user{
	margin-top: 45px;
	position: absolute;
	width:100%;
	text-align: center;
	color: #5D5D5D;
	background:#F0F0F0;
	font-family: "微软雅黑";
}
.point_user p span{
	font-size:24px;
	color: #04B900
}
.point_menu{
	width:100%;
	height: 65px;
}
.point_menu span{
	background:#fff;
	border-radius:4px;
	border: 1px solid #747474; 
	width:24.4%;
	text-align: center;
	float: left;
	height: 65px;
}
.point_action{
	position: absolute;
	background:#F0F0F0;
	width:96%;
	margin-left: 2%;
}
.point_actdiv{
	background:#fff;
	margin-top:10px;
	border-radius: 4px;
	border: 1px solid #747474;
	width:100%;
	height:45px;
}
.point_actleft{
	position:relative;
	width:70%;
	text-indent: 1em;
	text-align: left;
}
.point_name{
	position: absolute;
	width: 98%;
	overflow: hidden;
	height:25px;
	line-height: 25px;
}
.point_time{
	margin-top: 23px;
	font-size: 14px;
	color: #989898;
}
.point_score{
	width: 29%;
	margin-left: 70%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-left: 1px solid #747474;
	border-radius: 4px;
	font-size:20px;
}
.point_scrcol1{
	color: #04B900;
}
.point_scrcol2{
	color: #ff7b00;
}
/*积分规则 point_rule*/
.point_rule{
	margin-top: 45px;
	color: #7a7a7a;
	font-family: "微软雅黑";
	margin-bottom: 78px;
}
.point_rltxt{
	width:96%;
	margin-left: 2%;
	padding-bottom: 10px;
	padding-top: 5px;
}
.point_table{
	border-collapse:collapse;
	width: 80%;
	margin-left: 10%;
	text-align: center;
}
.point_table td{
	border: 1px solid;
}
/*特卖专区 special_sell*/
.special_row{
	margin-top:0px;
	position:relative;
	height:150px;
	border-bottom: 1px inset #b6b6b6;
	font-size: 14px;
	width:100%;
}
.special_left{
	width:49.5%;
	border-right: 1px inset #b6b6b6;
	height:100%;
	position: absolute;
}
.special_right{
	width:50%;
	position: absolute;
	margin-left: 50%;
	height: 100%;
}
.special_name{
	text-indent: 2%;
	width:100%;
	overflow: hidden;
	height:30px;
	margin-top: 0px;
	position: absolute;
	line-height: 30px;
	color: #000;
}
.special_img{
	text-align:center;
	position: absolute;
	margin-top: 30px;
	margin-left: 2%;
	width: 96%;
	height:100px;
}
.special_img img{
	height:100px;
	width:100px;
}
.special_bottom{
	color: #ff0000;
	height:20px;
	line-height: 20px;
	width:96%;
	margin-left: 2%;
	position: absolute;
	bottom: 0px;
}
.special_price{
	position:absolute;
	width:50%;
	text-align: left;	
}
.special_mun{
	position:absolute;
	width: 50%;
	text-align: right;
	color: #5d5d5d;
	margin-left: 50%;
}
.special_more{
	width:100%;
	position: absolute;
	height:40px;
	line-height: 40px;
	text-align: center;
	margin-top: 0px;
	text-decoration: underline;
}

/*成功下单 ordertab_ok*/
.ok_chuang{
	width:70%;margin-top: 40%;height:100px;margin-left: 15%;position: absolute;
	border-radius:6px;
	border-left: 1px solid #cd5401;
	border-right: 1px solid #cd5401;
	border-top: 15px solid #cd5401;
	border-bottom: 1px solid #cd5401;
	box-shadow:1px 1px 5px #6b513f;
	text-align: center;
	font-family: "微软雅黑";
	line-height: 25px;
	font-size: 14px;
}
.ok_font1{
	font-size: 16px;
	margin-top: 15px;
}
.ok_btn{
	width:30%;
	margin-left: 35%;
	margin-top: 70%;
	border-radius:4px;
	box-shadow:1px 1px 5px #6a4f20;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#a66c08), to(#fed56c));
	color: #fff;
	position: relative;
	text-align: center;
	line-height: 30px;
	font-family: "微软雅黑";
}
/* Swipe 2 required styles */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  margin:45px 0px auto;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

/* END required styles */
/*购物流程  lct*/
.container {
	width: 310px;
	margin-top: 48px;
	margin-right: auto;
	margin-bottom: 78px;
	margin-left: auto;
}
/*登录页面 Login*/
section{ 
	padding:10px; 
	overflow:hidden; 
	zoom:1;
}
.login-frame { 
	padding-bottom:10px;
	margin-left:-30px;
}
.login-frame li{ 
	padding-bottom:5px; 
	font-size:14px;
}
.login-frame li .log-inp{ 
	border:1px solid #adadad; 
	background-color:#fff; 
	width:96%; 
	padding:10px 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px; 
	margin-top:5px;
}
.down-btn {
	border: 1px solid #e36009;
	display: block;
	line-height: 42px;
	height: 42px;
	background: -webkit-gradient(linear, 0 0, 0 63%, from(#ffad11), to(#fc7708));
	text-align: center;
	color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
	width:40%;
	float:left;
	margin-left:20px;
}
#Mes{
	color:red;
}
/*加入购物车*/
.youxi_tishi{
	font-family: "微软雅黑";
	text-align:center;
	line-height:40px;
	position:fixed;
	background: rgba(255,72,0,0.8);
	border-radius:5px;
	color: #fff;
	width:40%;
	left: 30%;
	height: 40px;
	top: 45%;
	z-index: 2;
	font-size: 14px;
}